*~
.git
db.sqlite3
Pipfile
Pipfile.lock
media/members_images/*
media/research_field_images/*
static/*
settings/config.json
statictoot/*
my_environment
Academic.zip
pages/__pycache__/*
pages/migrations/__pycache__