{% extends 'base.html' %}
{% block content %}

<header class="jumbotron jumbotron-fluid bg-white text-black text-center pb-0">
  <div class="container pt-5 d-flex align-items-center flex-column">
    <!-- Heading -->
    <h1 class="display-4">Group</h1>
    <!-- Icon Divider -->
    <div class="row">
      <div class="col"><hr class="custom-divider2"></div>
      <div class="col-auto">
	<i class="fas fa-align-justify"></i>
      </div>
      <div class="col"><hr class="custom-divider2"></div>
    </div>
    
  </div>
</header>

<div class="container">  
  <div class="row justify-content-md-center pb-2">
    <h3>PI</h3>
  </div>

  <div class="row justify-content-md-center">
    {% for currentmember in view.currentmemberslist %}
    {% if currentmember.position == 'PI' %}    
    <div class="col-md-auto">
      <div class="card text-center" style="width: 14rem;">
	<div class"row">
	  <img src="{{ currentmember.main_image.url }}" class="card-img-top" alt="{{ currentmember.name }}" style="width: 12rem;">
	</div>
	
	<div class="card-body">
	  <h5 class="card-title">{{ currentmember.name }}</h5>
	  <a href="#" class="btn btn-secondary">Read more</a>
	</div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>


  {% if view.currentpostdocs %}
  <div class="row justify-content-md-center pt-4 pb-2">
    <h3>Postdocs</h3>
  </div>
  <div class="row justify-content-md-center">
    {% for currentmember in view.currentpostdocs %}
    <div class="col-md-auto">
      <div class="card text-center" style="width: 14rem;">
	<div class"row">
	  <img src="{{ currentmember.main_image.url }}" class="card-img-top" alt="{{ currentmember.name }}" style="width: 12rem;">
	</div>
	
	<div class="card-body">
	  <h5 class="card-title">{{ currentmember.name }}</h5>
	  <a href="#" class="btn btn-secondary">Read More</a>
	</div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  
  {% if view.currentphds %}
  <div class="row justify-content-md-center pt-4 pb-2">
    <h3>PhD Students</h3>
  </div>
  <div class="row justify-content-md-center">
    {% for currentmember in view.currentphds %}
    <div class="col-md-auto">
      <div class="card text-center" style="width: 14rem;">
	<div class"row">
	  <img src="{{ currentmember.main_image.url }}" class="card-img-top" alt="{{ currentmember.name }}" style="width: 12rem;">
	</div>
	
	<div class="card-body">
	  <h5 class="card-title">{{ currentmember.name }}</h5>
	  <a href="#" class="btn btn-secondary">Read More</a>
	</div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if view.currenttechnicians %}
  <div class="row justify-content-md-center pt-4 pb-2">
    <h3>Technical Staff</h3>
  </div>
  <div class="row justify-content-md-center">
    {% for currentmember in view.currenttechnicians %}
    <div class="col-md-auto">
      <div class="card text-center" style="width: 14rem;">
	<div class"row">
	  <img src="{{ currentmember.main_image.url }}" class="card-img-top" alt="{{ currentmember.name }}" style="width: 12rem;">
	</div>
	
	<div class="card-body">
	  <h5 class="card-title">{{ currentmember.name }}</h5>
	  <a href="#" class="btn btn-secondary">Read More</a>
	</div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if view.currentmasterstudents %}
  <div class="row justify-content-md-center pt-4 pb-2">
    <h3>Master Students</h3>
  </div>
  <div class="row justify-content-md-center">
    {% for currentmember in view.currentmasterstudents %}
    <div class="col-md-auto">
      <div class="card text-center" style="width: 14rem;">
	<div class"row">
	  <img src="{{ currentmember.main_image.url }}" class="card-img-top" alt="{{ currentmember.name }}" style="width: 12rem;">
	</div>
	
	<div class="card-body">
	  <h5 class="card-title">{{ currentmember.name }}</h5>
	  <a href="#" class="btn btn-secondary">Read More</a>
	</div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if view.currentguestphdstudents %}
  <div class="row justify-content-md-center pt-4 pb-2">
    <h3>Guest PhD Students</h3>
  </div>
  <div class="row justify-content-md-center">
    {% for currentmember in view.currentguestphdstudents %}
    <div class="col-md-auto">
      <div class="card text-center" style="width: 14rem;">
	<div class"row">
	  <img src="{{ currentmember.main_image.url }}" class="card-img-top" alt="{{ currentmember.name }}" style="width: 12rem;">
	</div>
	
	<div class="card-body">
	  <h5 class="card-title">{{ currentmember.name }}</h5>
	  <a href="#" class="btn btn-secondary">Read More</a>
	</div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if view.currentgueststudents %}
  <div class="row justify-content-md-center pt-4 pb-2">
    <h3>Guest Students</h3>
  </div>
  <div class="row justify-content-md-center">
    {% for currentmember in view.currentgueststudents %}
    <div class="col-md-auto">
      <div class="card text-center" style="width: 14rem;">
	<div class"row">
	  <img src="{{ currentmember.main_image.url }}" class="card-img-top" alt="{{ currentmember.name }}" style="width: 12rem;">
	</div>
	
	<div class="card-body">
	  <h5 class="card-title">{{ currentmember.name }}</h5>
	  <a href="#" class="btn btn-secondary">Read More</a>
	</div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  
  
  {% if view.previousmemberslist %}

  <div class="row">
    <h2>Previous Members</h2>
  </div>

  {% if view.previouspostdocs %}
  <h3>Postdocs</h3>
  <div class="row">      
    <ul>
      {% for member in view.previouspostdocs %}
      <li>
	{{ member.name}}, {{ member.position }}, {{member.initial_year}}
	{% if member.initial_year != member.final_year%}
	- {{member.final_year}}
	{% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  
  {% if view.previousphds %}
  <h3>PhD Students</h3>
  <div class="row">
    <ul>
      {% for member in view.previousphds %}
      <li>
	{{ member.name}}, {{ member.position }}, {{member.initial_year}}
	{% if member.initial_year != member.final_year%}
	- {{member.final_year}}
	{% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if view.previoustechnicians %}
  <h3>Technical Staff</h3>
  <div class="row">
    <ul>
      {% for member in view.previoustechnicians %}
      <li>
	{{ member.name}}, {{ member.position }}, {{member.initial_year}}
	{% if member.initial_year != member.final_year%}
	- {{member.final_year}}
	{% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if view.previousmasterstudents %}
  <h3>Master Students</h3>
  <div class="row">
    <ul>
      {% for member in view.previousmasterstudents %}
      <li>
	{{ member.name}}, Master Student, {{member.initial_year}}
	{% if member.initial_year != member.final_year%}
	- {{member.final_year}}
	{% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if view.previousguestphdstudents %}
  <h3>Guest PhD Students</h3>
  <div class="row">
    <ul>
      {% for member in view.previousguestphdstudents %}
      <li>
	{{ member.name}}, Guest PhD Student, {{member.initial_year}}
	{% if member.initial_year != member.final_year%}
	- {{member.final_year}}
	{% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if view.previousgueststudents %}
  <h3>Guest Students</h3>
  <div class="row">
    <ul>
      {% for member in view.previousgueststudents %}
      <li>
	{{ member.name}}, Guest Student, {{member.initial_year}}
	{% if member.initial_year != member.final_year%}
	- {{member.final_year}}
	{% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}


  
  {% endif %}
  


{% endblock content %}
