{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container">
  <div class="row  justify-content-around align-items-center mt-5 mb-5">
    <h1>Research Directions</h1>
  </div>

  <div class="row align-items-center justify-content-end mb-5">

    {% for field in object_list %}

    <div class="col mb-5">
      <div class="card text-center" style="width: 18rem;">
	<img src="{{ field.main_image.url }}" class="card-img-top" alt="{{ field.topic }}" width="100%" height="225">
	<div class="card-body">
	  <h5 class="card-title">{{ field.topic }}</h5>
	  <p class="card-text">{{ field.short_description }}</p>
	  <a href="{% url 'researchfield' field.pk %}" class="btn btn-primary">Read more</a>
	</div>
      </div>
    </div>

  

    {% endfor %}

    </div>
  
</div>
  

{% endblock content %}
