{% extends 'base.html' %}
{% load static %}
{% block content %}

<header class="jumbotron jumbotron-fluid bg-white text-black text-center pb-0">
  <div class="container pt-5 d-flex align-items-center flex-column">
    <!-- Heading -->
    <h1 class="display-4">{{ object.topic }}</h1>
    
  </div>
</header>

<div class="container-fluid pl-5 pr-5">
  <div class="row align-items-center pb-5">
  	<div class="col-0 col-sm-0 col-md-2"></div>
  	<div class="col-12 col-sm-12 col-md-8">
  		<p>{{ object.long_description|safe }}</p>
  	</div>
  	<div class="col-0 col-sm-0 col-md-2"></div>
  </div>
</div>



{% endblock content %}
