{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container">
  <div class="row  justify-content-around align-items-center mt-5 mb-5">
    <h1>Research Directions</h1>
  </div>
  
  <div class="row align-items-center justify-content-end mb-5">
    
    <div class="col">
      <div class="card text-center" style="width: 18rem;">
	<img src="{% static 'images/AFM.jpg' %}" class="card-img-top" alt="AFM">
	<div class="card-body">
	  <h5 class="card-title">Atomic Force Microscopy</h5>
	  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	  <a href="#" class="btn btn-primary">Go somewhere</a>
	</div>
      </div>
    </div>
    
    <div class="col">
      <div class="card text-center" style="width: 18rem;">
	<img src="{% static 'images/Mucosa.jpg' %}" class="card-img-top" alt="Mucus & Saliva">
	<div class="card-body">
	  <h5 class="card-title">Mucus and Salivary Films</h5>
	  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	  <a href="#" class="btn btn-primary">Go somewhere</a>
	</div>
      </div>
    </div>
    
    <div class="col">
      <div class="card text-center" style="width: 18rem;">
	<img src="{% static 'images/Sensors.jpg' %}" class="card-img-top" alt="Wireless Sensor">
	<div class="card-body">
	  <h5 class="card-title">Wireless Sensors</h5>
	  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	  <a href="#" class="btn btn-primary">Go somewhere</a>
	</div>
      </div>
    </div>
    
  </div>
  
  <div class="row justify-content-end align-items-center mb-5">
    
    <div class="col-sm-6">
      <div class="card text-center" style="width: 18rem;">
	<img src="{% static 'images/Instrumentation.jpg' %}" class="card-img-top" alt="Wireless Sensor">
	<div class="card-body">
	  <h5 class="card-title">Instrumentation Development</h5>
	  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	  <a href="#" class="btn btn-primary">Go somewhere</a>
	</div>
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="card text-center" style="width: 18rem;">
	<img src="{% static 'images/Software.jpg' %}" class="card-img-top" alt="Wireless Sensor">
	<div class="card-body">
	  <h5 class="card-title">Software Development</h5>
	  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	  <a href="#" class="btn btn-primary">Go somewhere</a>
	</div>
      </div>
    </div>
    
  </div>
  
</div>

{% endblock content %}
