{% extends 'base.html' %}
{% load static %}
{% block content %}

<header class="jumbotron jumbotron-fluid bg-white text-black text-center">
  <div class="container pt-5 d-flex align-items-center flex-column">
    <!-- Heading -->
    <h1 class="display-4">Research Directions</h1>
    <!-- Icon Divider -->
    <div class="row">
      <div class="col"><hr class="custom-divider2"></div>
      <div class="col-auto">
	<i class="fas fa-align-justify"></i>
      </div>
      <div class="col"><hr class="custom-divider2"></div>
    </div>
    
  </div>
</header>



<div class="container pl-5 pr-5">

  <div class="row justify-content-center align-text-center mb-5">


    {% for field in object_list %}

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 pb-5">

      <div class="card border-secondary w-75 text-center">
        <img src="{{ field.main_image.url }}" class="card-img-top img-fluid w-100" alt="{{ field.topic }}">
        <div class="card-body">
          <h5 class="card-title">{{ field.topic }}</h5>
          <p class="card-text">{{ field.short_description|safe }}</p>
          <a href="{% url 'researchfield' field.pk %}" class="btn btn-ligth btn-outline-secondary">Read more</a>
        </div>
      </div>

    </div>

    {% endfor %}
  <!--<</div>-->

  </div>
</div>
  

{% endblock content %}
